<div class="container pt-xl-5" style="padding-top: 40px;">
  <div class="row">
    <h3>Feedback Table</h3>
  </div>
  <div class="row pt-xl-3">
    <table class="table table-hover">
      <thead>
        <tr class="table-active">
          <th scope="col">ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Order Id</th>
          <th scope="col">Details</th>
          <th scope="col">Created Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedback of feedbacks">
          <th scope="row">{{feedback.id}}</th>
          <td>{{feedback.customerName}}</td>
          <td>{{feedback.orderId}}</td>
          <td>{{feedback.details}}</td>
          <td>{{feedback.createdDate | date:'EEE, d MMM,y'}} {{feedback.createdDate | date:'shortTime'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
