<div class="container pt-xl-5" style="padding-top: 40px;">
  <div class="row">
    <h3>Feedback Table</h3>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!isLoading" class="row pt-xl-3" style="overflow: auto;">
    <table class="table table-hover" style="min-width: 700px;">
      <thead>
        <tr class="table-active">
          <th scope="col">ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Order Id</th>
          <th scope="col">Details</th>
          <th scope="col">Created Date</th>
          <th *ngIf="this.isUser" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedback of feedbacks; let i = index">
          <th scope="row">{{feedback.id}}</th>
          <td>{{feedback.order.customer.firstName}} {{feedback.order.customer.lastName}}</td>
          <td>{{feedback.order.id}}</td>
          <td>{{feedback.details}}</td>
          <td>{{feedback.createdDate | date:'EEE, d MMM,y'}} {{feedback.createdDate | date:'shortTime'}}</td>
          <td *ngIf="this.isUser">
            <button class="btn btn-sm" (click)="deleteOnClick(i)"><span><img src="../../../assets/images/icon-delete.png" alt="Delete" style="max-width: 25px;"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center" *ngIf="isLoaded" style="cursor: pointer;">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{disabled:page.currentPage === 1}" >
      <a class="page-link" (click)="setPage(1)">&laquo;</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === 1}">
      <a class="page-link" (click)="setPage(page.currentPage - 1)">Previous</a>
    </li>
    <li class="page-item active" *ngFor="let p of page.pages" [ngClass]="{active:page.currentPage === p}">
      <a class="page-link" (click)="setPage(p)">{{p}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === (result.totalPages)}">
      <a class="page-link" (click)="setPage(page.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === (result.totalPages)}">
      <a class="page-link" (click)="setPage(result.totalPages)">&raquo;</a>
    </li>
  </ul>
</div>
