<div class="modal-header">
  <div class="modal-title w-100 text-center">
    <h4>Edit or Add new recipe</h4>
  </div>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
<form #form="ngForm" *ngIf="isLoaded" (ngSubmit)="confirm(form)">
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <fieldset>
          <label class="control-label" for="title">Title</label>
          <input class="form-control" id="title" name="title" type="text" placeholder="Set a title for your recipe" [(ngModel)]="recipe.title" ngModel required #title="ngModel">
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-dismissible alert-danger text-center alert-font">Title is required</div>
        </fieldset>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="recipe.description" ngModel required #description="ngModel" rows="4"></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-dismissible alert-danger alert-font">Description is required</div>
      </div>
      <div class="form-group text-center">
        <label for="image">Image for your recipe</label>
        <img class="center-block" style="display: block; margin: 0 auto; width: 80%;" [src]="url" class="img-fluid">
      </div>
      <div class="form-group">
        <label for="inputImage">Choose image for your recipe</label>
        <input type="file" class="form-control-file" id="inputImage" aria-describedby="fileHelp" accept=".png,.jpg,.gif"
        (change)="uploadImage($event)">
        <small id="fileHelp" class="form-text text-muted">Please make sure your image has the right solution</small>
      </div>
    </div>
    <div class="col-sm-7">
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" id="details" name="details" [(ngModel)]="recipe.details" ngModel required #details="ngModel" rows="15"></textarea>
      <div *ngIf="details.invalid && (details.dirty || details.touched)" class="alert alert-dismissible alert-danger alert-font">Details are required</div>
    </div>
    <div class="form-group">
      <fieldset>
        <strong>
          <label class="control-label text-primary" for="price">Price ($)</label>
        <input class="form-control text-center text-success" style="font-size: x-large;" id="price" name="price" type="number" min="0" max="2000" [(ngModel)]="recipe.price" ngModel required #price="ngModel">
        </strong>
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-dismissible alert-danger alert-font">Price is required</div>
      </fieldset>
    </div>
    <div class="form-group">
      <legend>Ice Cream</legend>
      <label for="category">Select type of Ice-cream</label>
      <select class="form-control" id="category" (change)="iceCreamSelected($event.target.value)" name="type" #type="ngModel" [(ngModel)]="recipe.icecream.name" ngModel required>
        <option *ngFor="let iceCream of icecreams; let i = index">{{iceCream.name}}</option>
      </select>
      <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-dismissible alert-danger alert-font">Category is required</div>
    </div>
    <fieldset class="form-group">
      <label>Status</label>
      <div class="form-check">
        <label class="form-check-label">
          <input name="status" class="form-check-input" type="checkbox" value="" [(ngModel)]="recipe.status" #status="ngModel">
          Available
        </label>
      </div>
    </fieldset>
    </div>
  </div>
  <button type="submit" ngbAutofocus class="btn btn-success mr-1" [disabled]="form.invalid">Save</button>
  <button type="button" class="btn btn-danger mr-1" (click)="modal.dismiss('Close click')">Cancel</button>
</form>
</div>
<div class="modal-footer">
  <div class="alert alert-dismissible alert-warning" *ngIf="warningMessage" (close)="warningMessage = ''">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{warningMessage}}
  </div>
</div>
