<div class="alert alert-dismissible alert-success" *ngIf="successMessage" (close)="successMessage = ''">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{successMessage}}
</div>
<div class="alert alert-dismissible alert-warning" *ngIf="warningMessage" (close)="warningMessage = ''">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{warningMessage}}
</div>
<div class="row text" style="padding-top: 50px; padding-bottom: 80px;">
  <div class="col-md-5">
    <div class="card border-primary mb-5" style="max-width: 40rem;">
      <div class="card-header text-center">User Profile</div>
      <div class="card-body text-center">
        <div *ngIf="imgLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <img [src]="profileUrl" class="img-fluid" alt="Profile avatar" *ngIf="!imgLoading">
        <h4 class="card-title">{{customer.firstName}} {{customer.lastName}}</h4>
        <p class="card-text">Email: {{customer.email}}</p>
        <div class="form-group">
          <label for="exampleInputFile">Choose your avatar</label>
          <input type="file" class="form-control-file" id="avatarFile" aria-describedby="fileHelp" accept=".png,.jpg,.gif"
          (change)="uploadAvatar($event)">
          <small id="fileHelp" class="form-text text-muted">Please make sure that your avatar has the right solution</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <h3>User Detail Information</h3>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <fieldset>
        <div class="form-group">
          <label for="firstName">First name</label>
          <input formControlName="firstName" type="text" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="Enter your first name">
        </div>
        <div class="form-group">
          <label for="lastName">Last name</label>
          <input formControlName="lastName" type="text" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="Enter your last name">
        </div>
        <div class="form-group">
          <label for="birthday">Birthday</label>
          <input formControlName="birthday" type="text" class="form-control" id="birthday" aria-describedby="emailHelp" placeholder="Enter your last name">
        </div>
        <fieldset class="form-group">
          <label>Gender</label>
          <div class="form-check">
            <label class="form-check-label">
              <input formControlName="gender" type="radio" class="form-check-input" name="gender" id="male" value="male">
              Male
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input formControlName="gender" type="radio" class="form-check-input" name="gender" id="female" value="female">
              Female
            </label>
          </div>
        </fieldset>
        <div class="form-group">
          <label for="address">Address</label>
          <input formControlName="address" type="text" class="form-control" id="address" aria-describedby="emailHelp" placeholder="Enter your address">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone number</label>
          <input formControlName="phoneNumber" type="tel" class="form-control" id="phoneNumber" aria-describedby="emailHelp" placeholder="Eg. +84 983182321">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="expiredDate">Expired date</label>
          <input formControlName="expiredDate" type="text" class="form-control" id="expiredDate" aria-describedby="emailHelp" placeholder="Expired date" disabled="true">
        </div>
        <div class="form-group">
          <label for="userName">Username</label>
          <input formControlName="userName" type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="Username" disabled="true">
        </div>
        <div class="form-group">
          <label for="password">Current password</label>
          <input formControlName="currentPassword" type="password" class="form-control" id="currentPassword" placeholder="Current password">
        </div>
        <div class="form-group">
          <label for="password">New password</label>
          <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="New password">
        </div>
        <fieldset class="form-group">
          <legend>Status</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" [checked]="customer.status" [disabled]="true">
              Activated
            </label>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-success not-allowed mr-1" [disabled]="!formGroup.valid">Save</button>
        <button type="cancel" class="btn btn-danger mr-1" (click)="onCancel()">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>
