<form>
  <fieldset>

    <div class="form-group col-md-5">
      <legend>Ice Cream</legend>
      <label for="exampleSelect1">Selec type of Ice-cream you want</label>
      <select class="form-control" id="exampleSelect1" (change)="iceCreamSelected($event.target.value)">
        <option *ngFor="let iceCream of iceCreams; let i = index" [value]="i">{{iceCream.name}}</option>
        <option [value]="iceCreams.length">All</option>
      </select>
    </div>
    <div class="form-group col-md-5">
      <fieldset class="form-group">
        <legend>Options</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" checked="">
            Most views
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" disabled="">
            Highest prices
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" disabled="">
            My recipes
          </label>
        </div>
      </fieldset>
    </div>
  </fieldset>
</form>
<app-recipe-list></app-recipe-list>
