<div class="container">
  <form style="padding-bottom: 50px; padding-left: 25px; padding-right: 25px;">
    <fieldset>
      <div class="row">
        <div class="form-group col-md-5">
          <legend>Ice Cream</legend>
          <label for="iceCreamType">Select type of Ice-cream you want</label>
          <select class="form-control" id="iceCreamType" (change)="iceCreamSelected($event.target.value)">
            <option *ngFor="let iceCream of iceCreams; let i = index" [value]="i">{{iceCream.name}}</option>
            <option [value]="iceCreams.length">All</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <legend>Options</legend>
          <label for="option">Select options</label>
          <select class="form-control" id="option">
            <option>Newest</option>
            <option>Highest views</option>
            <option>Highest prices</option>
          </select>
        </div>
        <div class="col-md-3 text-right" style="padding-top: 70px;">
          <button class="btn btn-primary" (click)="newRecipe()">New Recipe</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<app-recipe-list></app-recipe-list>
