.card-custom {
  max-width: 210px;
  /* cursor: pointer; */
}
.custom-header {
  max-height: 110px;
  min-height: 110px;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 1.8;
}
.custom-img {
  height: 180px;
  display: block;
}
.custom-btn {
  width: 80px;
}
/* img {
  animation: fadein .4s;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
} */
