<div class="container pt-xl-5" style="padding-top: 40px;">
  <div class="row">
    <h3>Customer Table</h3>
  </div>
  <div class="row pt-xl-3" style="overflow: auto;">
    <table class="table table-hover" style="min-width: 700px;">
      <thead>
        <tr class="table-active">
          <th scope="col">ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <th scope="row">{{customer.id}}</th>
          <td>{{customer.firstName}} {{customer.lastName}}</td>
          <td>{{customer.email}}</td>
          <td *ngIf="customer.gender === 1">Male</td>
          <td *ngIf="customer.gender !== 1">Female</td>
          <td>{{customer.phoneNumber}}</td>
          <td *ngIf="customer.status===1">Enable</td>
          <td *ngIf="customer.status!==1">Disabled</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center" *ngIf="customersLoaded" style="cursor: pointer;">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{disabled:page.currentPage === 1}" >
      <a class="page-link" (click)="setPage(1)">&laquo;</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === 1}">
      <a class="page-link" (click)="setPage(page.currentPage - 1)">Previous</a>
    </li>
    <li class="page-item active" *ngFor="let p of page.pages" [ngClass]="{active:page.currentPage === p}">
      <a class="page-link" (click)="setPage(p)">{{p}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === (result.totalPages)}">
      <a class="page-link" (click)="setPage(page.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === (result.totalPages)}">
      <a class="page-link" (click)="setPage(result.totalPages)">&raquo;</a>
    </li>
  </ul>
</div>
