<div class="alert alert-dismissible alert-success" *ngIf="successMessage" (close)="successMessage = ''">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{successMessage}}
</div>
<div class="alert alert-dismissible alert-warning" *ngIf="warningMessage" (close)="warningMessage = ''">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{warningMessage}}
</div>

<div class="row text" style="padding-top: 40px;">
  <div class="col-md-5">
    <div class="card border-primary mb-5" style="max-width: 40rem;">
      <div class="card-header text-center">User Profile</div>
      <div class="card-body text-center">
        <div *ngIf="imgLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <img [src]="profileUrl" class="img-fluid" alt="Profile avatar" *ngIf="!imgLoading">
        <h4 class="card-title">{{user.fullName}}</h4>
        <p class="card-text">Email: {{user.email}}</p>
        <div class="form-group">
          <label for="exampleInputFile">Choose your avatar</label>
          <input type="file" class="form-control-file" id="avatarFile" aria-describedby="fileHelp" accept=".png,.jpg,.gif"
          (change)="uploadAvatar($event)">
          <small id="fileHelp" class="form-text text-muted">Please make sure that your avatar has the right solution</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <h3>User Detail Information</h3>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <fieldset>
        <div class="form-group">
          <label for="fullName">Full name</label>
          <input formControlName="fullname" type="text" class="form-control" id="fullName" aria-describedby="emailHelp" placeholder="Enter your full name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input formControlName="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" disabled="true">
        </div>
        <div class="form-group">
          <label for="password">Current password</label>
          <input formControlName="currentPassword" type="password" class="form-control" id="currentPassword" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password">New password</label>
          <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Password">
        </div>
        <fieldset class="form-group">
          <legend>Status</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" [checked]="user.status" [disabled]="user.roles.includes('ADMIN')">
              Activated
            </label>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <legend>Roles</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" [checked]="user.roles.includes('ADMIN')" disabled="true">
              Admin
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" [checked]="user.roles.includes('USER')" disabled="true">
              User
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" [checked]="user.roles.includes('CUSTOMER')" disabled="true">
              Customer
            </label>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-success not-allowed mr-1" [disabled]="!formGroup.valid">Save</button>
        <button type="cancel" class="btn btn-danger mr-1" (click)="onCancel()">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>
