<div class="container pt-xl-5" style="padding-top: 40px;">
  <div class="row">
    <h3>Order Table</h3>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!isLoading" class="row pt-xl-3">
    <table class="table table-hover">
      <thead>
        <tr class="table-active">
          <th scope="col">ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Customer Phone</th>
          <th scope="col">Created Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <th scope="row">{{order.id}}</th>
          <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
          <td>{{order.customer.phoneNumber}}</td>
          <td>{{order.createdDate  | date:'EEE, d MMM,y'}} {{order.createdDate  | date:'shortTime'}}</td>
          <td>{{order.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center" *ngIf="isLoaded" style="cursor: pointer;">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{disabled:page.currentPage === 1}" >
      <a class="page-link" (click)="setPage(1)">&laquo;</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === 1}">
      <a class="page-link" (click)="setPage(page.currentPage - 1)">Previous</a>
    </li>
    <li class="page-item active" *ngFor="let p of page.pages" [ngClass]="{active:page.currentPage === p}">
      <a class="page-link" (click)="setPage(p)">{{p}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === (result.totalPages)}">
      <a class="page-link" (click)="setPage(page.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:page.currentPage === (result.totalPages)}">
      <a class="page-link" (click)="setPage(result.totalPages)">&raquo;</a>
    </li>
  </ul>
</div>
