<div class="container pt-xl-5" style="padding-top: 40px;">
  <div class="row">
    <h3>Order Table</h3>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!isLoading" class="row pt-xl-3">
    <table class="table table-hover">
      <thead>
        <tr class="table-active">
          <th scope="col">ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Customer Phone</th>
          <th scope="col">Order Total</th>
          <th scope="col">Created Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <th scope="row">{{order.id}}</th>
          <td>{{order.customerName}}</td>
          <td>{{order.customerPhone}}</td>
          <td>{{order.total}} $</td>
          <td>{{order.createdDate  | date:'EEE, d MMM,y'}} {{order.createdDate  | date:'shortTime'}}</td>
          <td>{{order.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
