<div class="card">
  <div class="card-header">
    <h5>ice cream title</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-4">
        <img src="../../../../assets/images/ic2.jpg" alt="" style="max-width: 120px;">
      </div>
      <div class="col-sm-4">
        <p>Description</p>
        <p>Price $12</p>
        <p>Detail information, bla bla bla</p>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" min="0" class="form-control" style="max-width: 120px;">
        </div>
        <div>
          <button type="button" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
