<div class="row">
  <div class="col-sm-6 text-left" style="max-width: 220px;">
    <img [src]="cartItem.recipe.image" alt="" style="max-width: 200px;">
  </div>
  <div class="col-sm-3">
    <h5>{{cartItem.recipe.title}}</h5>
    <p>{{cartItem.recipe.description}}</p>
    <label for="quantity">Quantity</label>
    <input type="number" min="0" class="form-control" style="max-width: 200px;" [(ngModel)]="cartItem.quantity" (change)="setQuantity()">
    <button type="button" class="btn btn-danger mt-2" (click)="removeItem()">Remove</button>
  </div>
  <div class="col-sm-3 text-right">
    <h3>Total: <p class="text-danger" style="font-size: large;">${{cartItem.quantity * cartItem.recipe.price}}</p></h3>
  </div>
</div>
<hr>
