<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" alt="logo" class="img-responsive" style="max-height: 30px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse larger-text" id="navbarColor01">
    <ul class="navbar-nav mr-auto pointer" routerLinkActive="active">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="recipes">Recipes</a>
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_ADMIN') || roles.includes('ROLE_USER')">
        <a class="nav-link" routerLink="users">Users</a>
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_ADMIN') || roles.includes('ROLE_USER')">
        <a class="nav-link" routerLink="customers">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="feedback">Feedback</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="orders">Orders</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 larger-text" *ngIf="!isLoggedIn">
      <button type="button" class="btn btn-primary" routerLink="login">Login</button>
      <button type="button" class="btn btn-primary" routerLink="register">Register</button>
    </div>
    <!-- Show menu related to user's profile -->

    <button type="button" class="btn btn-secondary btn-sm" (click)="navigateToCart()" *ngIf="isCustomer">
      <img src="../../../../../assets/images/cart.webp" style="height: 30px; cursor: pointer;" alt="Add to cart">
    </button>
    <ul class="nav nav-pills" *ngIf="isLoggedIn">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="true" aria-expanded="false">Action</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="my-profile">Update profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item pointer" (click)="btnLogout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
